.tgi
	font-family: 'icons'
	speak: none
	line-height: 1
	font-style: normal
	font-weight: normal
	font-variant: normal
	text-transform: none
	vertical-align: middle

	&:before
		relative: top 1px

.tgi-bitcoin:before
	content: '\e001'

.tgi-check:before
	content: '\e002'

.tgi-chevron-left:before
	content: '\e003'

.tgi-chevron-right:before
	content: '\e004'

.tgi-chrome:before
	content: '\e005'

.tgi-close:before
	content: '\e006'

.tgi-cogwheel:before
	content: '\e007'

.tgi-envelope:before
	content: '\e008'

.tgi-forbidden:before
	content: '\e009'

.tgi-gift:before
	content: '\e00a'

.tgi-github:before
	content: '\e00b'

.tgi-help:before
	content: '\e00c'

.tgi-key:before
	content: '\e00d'

.tgi-list:before
	content: '\e00e'

.tgi-magnifier:before
	content: '\e00f'

.tgi-paypal:before
	content: '\e010'

.tgi-reload:before
	content: '\e011'

.tgi-shield-empty:before
	content: '\e012'

.tgi-shield-full:before
	content: '\e013'

.tgi-speech-bubble:before
	content: '\e014'

.tgi-star:before
	content: '\e015'

.tgi-tga:before
	content: '\e016'

.tgi-trash:before
	content: '\e017'

.tgi-trophy:before
	content: '\e018'

.tgi-twitch:before
	content: '\e019'

.tgi-twitter:before
	content: '\e01a'

.tgi-user:before
	content: '\e01b'
