{namespace} .section.about

	.card
		.title
			margin-bottom: .5em
		.lead
			margin-top: .5em
		.emblem
			color: colors.primary

	.faq
		margin-top: 2em
		overflow-x: hidden

		.tgi
			font-size: 20px