{namespace} .section.about
	padding: 0 spacing

	.card
		.title
			margin-bottom: .5em
		.lead
			margin-top: .5em
		.emblem
			color: colors.primary

	fieldset
		margin-top: 0

	.begging
		margin-top: 2em

	.faq
		overflow-x: hidden

		.tgi
			font-size: 20px