{namespace} .section.changelog
	padding: 0 spacing

	.version
		display: flex
		align-items: baseline
		margin: -(spacing) 0
		padding: spacing 0
		cursor: pointer

		.tgi
			align-self: center
			font-size: 20px
			color: colors.light

		&:hover .tgi
			color: colors.dark

	.description
		margin-top: 0 // reset twitch styles