{namespace} .section.config

	article
		font-size: fontSize

	label
		display: inline-block
		width: 140px
		padding-right: 5px
		font-weight: bold
		margin: 0
		color: colors.dark
		cursor: pointer

	i
		cursor: pointer

	input,
	select,
	textarea
		width: 180px
		max-width: @width
		margin: 0
		padding: .5em

	textarea
		height: 120px
		vertical-align: top
		margin: -(spacing) 0
		border-width: 0 0 0 1px
		resize: none

	.active-timeout input
		width: 130px
		margin-right: .5em

	.checkbox
		font-size: 18px
		color: colors.grey
		transition: color 100ms linear

		&.checked
			color: colors.success

	.description
		margin: 0.6em 0
		color: colors.light
		font-size: 0.9em
		font-style: italic
		font-weight: normal

		&:last-child
			margin-bottom: 0