namespace = '.tga'
fontSize = 14px
barSize = 50px
spacing = fontSize

colors = {
	background: #fff,

	primary: #6441A5,
	primaryLight: #b9a3e3,
	primaryDark: #512F8F,

	success: #3CBC8D,
	successLight: #F0FBE3,
	successDark: #687F42,

	info: #57ACFF,
	infoLight: #D9EDF7,
	infoDark: #1E90FF,

	warning: #F9B420,
	warningLight: #FFFAED,
	warningDark: #9A7E26,

	danger: #E9422E,
	dangerLight: #FBE9E6,
	dangerDark: #A1513C,

	twitch: #6441A5,
	twitchLight: #b9a3e3,

	paypalDark: #002f86,
	paypalLight: #009cde,
	bitcoin: #f7931a,

	darker: #222,
	dark: #555,
	grey: #888,
	light: #bbb,
	lighter: #f2f2f2,
	lightest: rgba(200,200,200,.1),

	staff: #6441A5,
	admin: #E47565,
	moderator: #3CBC8D,
	subscriber: #D67FBE
}

tga = {
	width: 550px,
	transition: {
		duration: 300ms,
		easing: ease-out
	}
}